img {
    max-width: 100%;
    max-height: 100%;
}
.video-container {
    position: relative;
}
#myVideo {
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello {
    font-size: 35px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}
hr {
    filter: opacity(30%);
}
#learnmore {
    color:white;
}
.whatido {
    display: table;
    width: 100%;
    height: auto;
    word-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    align-content: center;
    text-align: center;
}
.img-responsive {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    color: black;
    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.skills {
    color: black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
.computerskills {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa {
    padding: 27px;
    border-radius: 50%;
}
.fa-linkedin {
    padding: 15px;
    width: 70px;
}
.fa-linkedin:hover {
    color: #0077B5;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-linkedin:visited {
    color: #0077B5;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-github {
    color: black;
    padding: 17px;
    width: 70px;
}
.fa-github:hover {
    color: black;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-github:visited {
    color: black;
    filter: opacity(50%);
    text-decoration: none;
}
.hackerrank {
    width: 70px;
    height: auto;
    padding: 17px;
    padding-bottom: 40px;
}
.hackerrank:hover {
    filter: opacity(50%);
}
.hackerrank:visited {
    filter: opacity(50%);
}
.fa-free-code-camp {
    color: darkgreen;
    padding: 17px;
}
.fa-free-code-camp:hover {
    color: darkgreen;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-free-code-camp:visited {
    color: darkgreen;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-stack-overflow {
    color: #FF9900;
    width: 70px;
    padding: 15px;
    padding-right: 50px;
}
.fa-stack-overflow:hover {
    color: #FF9900;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-stack-overflow:visited {
    color: #FF9900;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-google {    
    color: #dd4b39;
    padding: 17px;
}
.fa-google:hover {
    color: #dd4b39;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-google:visited {
    color: #dd4b39;
    filter: opacity(50%);
    text-decoration: none;
}
.projects {
    width: 100%;
    height: auto;
    padding: 300px 0;
    color:white;
    background: linear-gradient(rgba(255,255,255,0), rgba(255, 255, 255, 0)), url("Projects.png") no-repeat bottom center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}
.whoami {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 200;
}
.form-section {
    height: 100px;
    padding-bottom: 100px;
}
.profile {
    padding-top: 450px;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255, 255, 255, 0.5)), url(Profile2.jpg) no-repeat top center;
    background-size: cover;
}
.copyright {
    color:black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
footer {
    padding-left: 15px;
    bottom: 0;
    position: fixed;
}
@media screen and (min-width : 7.1cm)
{
    .whatido {
        padding-top: 30px;
    }
    .intro {
        font-size: 16px;
    }
    .skills {
        font-size: 15px;
    }
    .computerskills {
        font-size: 15px;
    }
}
@media screen and (min-width : 13cm)
{
    .hello {
        font-size: 45px;
    }
    .whatido {
        text-align: left;
    }
    .intro {
        font-size: 16px;
    }
    .skills {
        font-size: 16px;
    }
    .computerskills {
        font-size: 16px;
    }
}
@media screen and (min-width : 20cm)
{
    .whatido {
        padding: 70px;
    }
    .icons {
        padding-top: 30px;
    }
}
@media screen and (min-width : 30cm)
{
    .skills {
        word-spacing: 6px;
    }
    .computerskills {
        word-spacing: 15px;
    }
}
.glyphicon {
    padding-left: 6px;
    padding-right: 6px;
}
.navbar, .navbar-inverse, .navbar-brand {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
    border-color: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
}
.navbar-inverse .navbar-brand {color:white; background: transparent}
.navbar-inverse .navbar-nav>li>a{color:white}
.navbar-inverse .navbar-nav>li>a:hover{font-weight:300}
a:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 3px 15px rgba(255, 255, 255, 1);
}