.welcome {
    display: table;
    width: 100%;
    height: auto;
    padding: 70px 0;
    text-align: right;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.4)), url("Background.jpg") no-repeat bottom center;
    background-size: cover;
}
.hello {
    font-size: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
}
.glyphicon {
    color:white;
    transform: translate(-115px, 20px);
}
.whatido {
    display: table;
    width: 100%;
    height: auto;
    padding: 50px 0;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 2px;
    word-spacing: 3px;
    font-family: 'Lato', sans-serif;
}
.intro {
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}
.skills {
    color: black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    word-spacing: 5px;
}
.computerskills {
    font-size: 14px;
    word-spacing: 10px;
}
.icons {
    padding-top: 40px;
}
.fa {
    padding: 27px;
    border-radius: 50%;
}
.fa-linkedin:hover {
    color: #0077B5;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-github {
    color: black;
    padding: 32px;
}
.fa-github:hover {
    color: black;
    filter: opacity(50%);
    text-decoration: none;
}
.hackerrank {
    width: 87px;
    height: auto;
    padding: 15px;
    padding-bottom: 37px;
    padding-left: 29px;
}
.hackerrank:hover {
    filter: opacity(50%);
}
.fa-free-code-camp {
    color: darkgreen;
}
.fa-free-code-camp:hover {
    color: darkgreen;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-stack-overflow {
    color: #FF9900;
    padding-bottom: 20px;
}
.fa-stack-overflow:hover {
    color: #FF9900;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-google {    
    color: #dd4b39;
}
.fa-google:hover {
    color: #dd4b39;
    filter: opacity(50%);
    text-decoration: none;
}
.projects {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background: transparent;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}
.whoami {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    background-color: white;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255, 255, 255, 0.1)), url("Profile.jpg") no-repeat scroll;
    background-size: cover;
    background-position: center;
    filter: contrast(50%);
}
@media screen and (min-width : 7.1cm)
{
    .welcome {
        padding: 300px 0;
    }
    .whatido {
        padding-top: 90px;
    }
    .hello {
        font-size: 35px;
    }
    
    .intro {
        padding-top: 20px;
        font-size: 17px;
    }
    .skills {
        padding-top: 20px;
        font-size: 15px;
    }
    .computerskills {
        font-size: 15px;
    }
    .icons {
        padding-top: 40px;
        padding-left: 20px;
    }
}
@media screen and (min-width : 13cm)
{
    .welcome{
        padding: 440px 0;
    }
    .hello {
        font-size: 50px;
    }
    .glyphicon {
    transform: translate(-160px, 20px);
    }
    whatido {
        padding-left: 15px;
    }
    .intro {
        font-size: 17px;
    }
    .skills {
        font-size: 16px;
    }
    .computerskills {
        font-size: 16px;
    }
    .icons {
        padding-top: 0px;
    }
}
@media screen and (min-width : 20cm)
{
    .welcome{
        padding: 350px 0;
    }
}
@media screen and (min-width : 30cm)
{
    .welcome {
        padding: 340px 0;
        background-attachment: fixed;
    }
    .whatido {
        padding-left: 10px;
    }
    .intro {
        padding-top: 9px;
    }
    .skills {
        padding-top: 15px;
        word-spacing: 8px;
    }
    .computerskills {
        word-spacing: 17px;
    }
    .icons {
        padding-top: 25px;
    }
}
.navbar, .navbar-inverse, .navbar-brand {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
    border-color: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
}
.navbar-inverse .navbar-brand {color:white; background: transparent}
.navbar-inverse .navbar-nav>li>a{color:white}
.navbar-inverse .navbar-nav>li>a:hover{font-weight:300}