img {
    max-width: 100%;
    max-height: 100%;
}
.welcome {
    display: table;
    width: 100%;
    height: auto;
    padding: 70px 0;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.2)), url("Background.jpg") no-repeat bottom center;
    background-size: cover;
}
.hello {
    font-size: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
    transform: translate(0px, -40px);
}
#learnmore {
    color:white;
    transform: translate(0px, -40px);
}
.whatido {
    display: table;
    width: 100%;
    height: auto;
    padding: 150px 0;
    word-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    align-content: center;
    text-align: center;
}
.img-responsive {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    color: black;
    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
.skills {
    color: black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
.computerskills {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.icons {
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa {
    padding: 27px;
    border-radius: 50%;
}
.fa-linkedin {
    padding: 15px;
    width: 70px;
}
.fa-linkedin:hover {
    color: #0077B5;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-github {
    color: black;
    padding: 17px;
    width: 70px;
}
.fa-github:hover {
    color: black;
    filter: opacity(50%);
    text-decoration: none;
}
.hackerrank {
    width: 70px;
    height: auto;
    padding: 17px;
    padding-bottom: 40px;
}
.hackerrank:hover {
    filter: opacity(50%);
}
.fa-free-code-camp {
    color: darkgreen;
    padding: 17px;
}
.fa-free-code-camp:hover {
    color: darkgreen;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-stack-overflow {
    color: #FF9900;
    width: 70px;
    padding: 15px;
    padding-right: 50px;
}
.fa-stack-overflow:hover {
    color: #FF9900;
    filter: opacity(50%);
    text-decoration: none;
}
.fa-google {    
    color: #dd4b39;
    padding: 17px;
}
.fa-google:hover {
    color: #dd4b39;
    filter: opacity(50%);
    text-decoration: none;
}
.projects {
    width: 100%;
    height: auto;
    padding: 300px 0;
    color:white;
    background: linear-gradient(rgba(255,255,255,0), rgba(255, 255, 255, 0)), url("Projects.png") no-repeat bottom center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}
.whoami {
}
.copyright {
    color:black;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    padding-top: 800px;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255, 255, 255, 0.5)), url(Profile2.jpg) no-repeat top center;
    background-size: cover;
}
footer {
    bottom: 0;
    position: fixed;
    z-index: 3000;
}
@media screen and (min-width : 7.1cm)
{
    .welcome {
        padding: 300px 0;
    }
    .whatido {
        padding-top: 90px;
    }
    .hello {
        font-size: 30px;
    }
    .intro {
        padding-top: 20px;
        font-size: 16px;
    }
    .skills {
        padding-top: 20px;
        font-size: 15px;
    }
    .computerskills {
        font-size: 15px;
    }
    .icons {
        padding-top: 40px;
    }
}
@media screen and (min-width : 13cm)
{
    .welcome{
        padding: 440px 0;
    }
    .hello {
        font-size: 40px;
    }
    .glyphicon {
    }
    .whatido {
        text-align: left;
    }
    .intro {
        font-size: 16px;
    }
    .skills {
        font-size: 16px;
    }
    .computerskills {
        font-size: 16px;
    }
}
@media screen and (min-width : 20cm)
{
    .welcome {
        padding: 350px 0;
    }
    .icons {
        padding: 100px;
    }
}
@media screen and (min-width : 30cm)
{
    .welcome {
        padding: 340px 0;
        background-attachment: fixed;
    }
    .intro {
        padding-top: 9px;
    }
    .skills {
        padding-top: 15px;
        word-spacing: 6px;
    }
    .computerskills {
        word-spacing: 15px;
    }
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    50% {
        transform: translateY(.1px);
    }
}
.navbar, .navbar-inverse, .navbar-brand {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
    border-color: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6));
}
.navbar-inverse .navbar-brand {color:white; background: transparent}
.navbar-inverse .navbar-nav>li>a{color:white}
.navbar-inverse .navbar-nav>li>a:hover{font-weight:300}
a:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 3px 15px rgba(255, 255, 255, 1);
}
